/*Common Styles Start*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: black;
}

.top-wrapper {
    padding-top: 35px;
    padding-left: 25px;
    padding-right: 20px;
    /* border: 1px solid red; */
}

image{
    width: 100% !important;
}

.container-fluid {
    max-width: 1440px;
    padding: 0;
    /*border: 1px dashed white;*/
}

.fa{
    color: white;
}

.section-text-block{
    margin-top: 34px;
    margin-bottom: 34px;
}

.btn-read-more {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: black;
    font-size: 22px;
    background: none;
    border: 2px solid #c7a462;
    font-family: 'Open Sans', sans-serif;
    padding: 11px 87px;
    float: right;
}

.btn-read-more:hover,
.btn-read-more:active {
    border: 2px solid #c7a462 ;
    opacity: 0.4
}

.homepage-heading-style {
    color: #c7a462;
    font-size: 46px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 56px;
    margin-top: 48px;
}

.about-us-heading-style{
    color: #c7a462;
    font-size: 36px;
    font-family: "Playfair Display";
    line-height: 42px;
}

.heading-style-italic {
    color: #c7a462;
    font-size: 32px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 56px;
    font-style: italic;
    padding-left: 15px;
}

.panel,
.panel-body,
.panel-heading,
.panel-default{
    border: none;
    box-shadow: none;
}



/*.panel-heading{*/
    /*font-size: 32px;*/
    /*font-family: 'Open Sans', sans-serif;*/
    /*font-weight: lighter;*/
    /*color: #c7a462;*/
    /*line-height: 36px;*/
/*}*/

/*Backgrounds*/
.fill-background-black {
    background-color: black;
    border-bottom: 2px solid #c7a462 ;
}

.fill-background-gray{
    background-color: #E8E8E8;
}

.fill-footer {
    background-color: #4d4d4d;
    border-top: 2px solid #c7a462;
}

/*Other Common*/
.author{
    line-height: 38px;
}



/*Common Styles End*/



/*Header Start*/
#logo-img {
    height: 75px;
    width: auto;
    margin-top: 0px;
}

#logo-img-mobile{
    display: none;
    height: 75px;
    width: auto;
    margin-top: 0px;
}

/*Dropdown menu*/
.navbar-default .navbar-toggle {
    /*border: 1px solid white;*/
    border: none;
}


#nav-bar {
    /*height: 150px !important;*/
}

#navbar-menus {
    padding-top: 19px;
    padding-right: 40px;
}

#top-nav-social {
    display: block;
    /*border: 1px dashed red;*/
}

.social-icon {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent !important;
    height: 30px;
    width: 30px;
}

.social-icon:hover,
.social-icon:focus {
    opacity: 0.4;
}

#top-nav-social-mobile{
    display: none;
}

#nav-bar-bottom {
    background-color: #4d4d4d;
    margin-bottom: 0px;
    height: 110px;
    border: 0px;
    border-radius: 0px;
}

.navbar-default {
    background-color: #000;
    border: none;
}

.navbar-nav>li {
    padding-bottom: 12px;
    padding-top: 10px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    font-size: 22px !important;
    /*border: 1px solid red;*/
}
.navbar-nav > li > .dropdown-menu {
    background-color: black;
}

.dropdown-header {
    color: white !important;
}

.dropdown-menu > li > a {
    color:white !important;
}
.navbar-default .navbar-collapse {
    border: 0px
}

.navbar-default .navbar-nav > li > a {
    color: #c7a462;
}

.navbar-social {
    margin-right: 50px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #c7a462;
    /* text-decoration: underline;*/
    border-bottom: 1px solid  rgba(199, 164, 98, 0.6);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #c7a462;
    opacity: 0.4;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #c7a462;
    opacity: 0.4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color:transparent;
    opacity: 0.4;
    color: #c7a462
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    opacity: 0.4;
    background-color: transparent;
}

.dropdown-menu .divider {
    background-color: #c7a462 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #c7a462;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: black;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #c7a462;
    /* text-decoration: underline; */
    border-bottom: none;
}


.navbar-toggle {
    position: relative;
    float: right;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 88px;
    height: 2px;
    margin-top: 5px;
    margin-bottom: 30px;
}


/*Header End*/

/*Footer Start*/

.olla_copyright {
    color: #c7a462 !important;
}

.olla_copyright:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

#contact-info-footer {
    padding-top: 40px;
    color: #c7a462 !important;
    text-align: center;
}

#design-info-footer {
    padding-top: 40px;
    padding-right: 200px;
    color: #c7a462 !important;
    text-align: right;
}

.social-icon-footer {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c7a462;
    color: transparent !important;
    height: 1.5em;
    width: 1.5em;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    opacity: 0.4;
}

.social-icon-contact-us {
    color: transparent !important;
    margin: 0;
    height: 11em;
    width: auto;
}

.social-icon-contact-us-no-hover {
    color: transparent !important;
    margin: 0;
    height: 11em;
    width: auto;
    margin-bottom: 20px;
}

.social-icon-contact-us:hover {
    opacity: 0.5;
}


/*Footer End*/


/*Home Page Start*/

/*Coming Next Section Start*/
h3{
    font-weight: 300;
}

.announce-container{
    margin-top: 116px;
}

.announce-text-block {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300!important;
    padding-top: 146px;
    /* border: 1px dashed white; */
    padding-left: 0;
    padding-right: 140px;
}

.coming-next{
    font-family: "Playfair Display";
    font-size: 36px;
    line-height: 49px;
}

.announcement-dates {
    font-size: 36px;
    /*line-height: 18px;*/
    /*margin: 0px;*/
}

.show-name {
    font-size: 36px;
    margin-bottom: 0;
    margin-top: -8px;
}

.announcement-read-more{
    font-size: 18px;
}

.home-page-top-img{
    /*margin-left: 135px;*/
    margin-left: 135px;
    /*border: 1px solid red;*/
}

.top-container .announce-well {
    position: absolute;
    background-color: transparent;
    border: 0px;
    color: #c7a462;
    z-index: 20;
    margin: 0px;
    text-align: left;
    bottom: 0px;
    right:0px;
    padding: 50px;
}





.show-description {
    font-weight: lighter !important;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 30px;
}

#announcent-clickable-section:hover {
    text-decoration: none !important;
    color: rgba(199, 164, 98, 0.5) !important;
}


.announcement-btn {
    font-weight: lighter !important;
    color: #c7a462 !important;
    font-size: 16px !important;
    padding: 0px !important;
    margin: 5px 0px 0px 0px;
}

.top-img {
    position: absolute; bottom: 0;
}

.btn-buy-tickets-top {
    color: #c7a462 !important;
    border: 1px solid #c7a462 !important;
    border-radius: 0px;
    padding: 15px 99px;
}
/*Coming Next Section End*/

/*Eli Keel Section Start*/
.eli-keel-container{
    margin-bottom: 52px;
}

.panel-article-insider-louisville {
    /*margin-top: 20px;*/
    /*padding: 0px;*/
}

.insider-louisville-text{
    /*margin-left: 30px;*/
}

.eli-keel{
    line-height: 30px;
}

.insider-louisville-image{
    width: 100%;
    margin-top: 34px;
}

.insider-louisville-image_mobile{
    width: 100%;
    display: none;
}
/*Eli Keel Section End*/

/*Marriages On The Verge Section Start*/
.marriages-on-the-verge-container {
    line-height: 30px;
    margin-bottom: 52px;
}

.marriages-on-the-verge-img{
    /*width: 81%;*/
    margin-top: 34px;
}


/*Marriages On The Verge Section End*/

/*Strindberg in Bergman Section Start*/
.strindberg-in-bergman-container .strindberg-in-bergman-well {
    position: absolute;
    background-color: rgba(255,255,255, 0.8);
    z-index: 20;
    top: 0px;
    right: 52px;
    max-width: 28%;
    color: black;
    margin-top: 104px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    padding-top: 34px;
}

.strindberg-in-bergman-container {
    padding:0px;
    margin-bottom: 0px;
    width: 100%;
    position: relative;
}

#strindberg-in-bergman-image {
    /* position: relative;*/
    width: 100%;
    margin: 0;
}

.strindberg-in-bergman-heading {
    color: #c7a462;
    font-size: 46px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    margin-top: 0px;
    line-height: 56px;
}

.strindberg-in-bergman-text {
    font-family: 'Open Sans';
    font-weight: lighter;
    margin: 0px;
    border: 0px;
    text-align: left;
    color: black;
    margin-top: 15px;
    margin-bottom: 34px
}
/*Strindberg in Bergman Section End*/

/*Chekhov Section Start*/
.translate-chekhov-container{
    margin-bottom: 52px;
    font-size: 18px;
    line-height: 30px;
}

.chekhov-image{
    width: 161px!important;
    height: 281px!important;
    margin-top: 30px;
}




/*Chekhov Section End*/

/*Home Page End*/


/*About Us Page Start*/
.panel-body{
    line-height: 30px;
}

.bio-container{
    margin-top: 104px;
}

.coart-container{
    padding: 0 50px;
}

.coart-dir {
    border: none;
}

.coart-info{
    margin-left: -30px;
    margin-top: 98px;
}

.coart-name {
   /*padding-top: 93px;*/
}

.coart-pos {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #c7a462 ;
}

.border-gold-column{
    padding: 0 50px;
}

.bio-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300 !important;
}

.bio-text-insert {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.aboutus-container {
    padding-top:104px;
    line-height: 30px;
}

.coming-next-container{
    margin-top: 60px;
}
.coming-next-text-block{
    float: right;
    padding-right: 40px;
    text-align: right;
}

.director-img {
    height: 160px;
}

.bio-column {
    /*border: 1px dashed red;*/
    padding: 0 140px;
    margin-bottom: 52px;
}

.border-gold{
    border: 2px solid  rgba(199, 164, 98, 0.4);
    border-radius: 7px;
    margin-bottom: 104px;
    /*padding: 0px 52px;*/
}

.gold-block-text{
    color: black;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: white;
}

/*.panel-link-to-article {*/
    /*padding-top: 36px;*/
    /*padding-bottom: 36px;*/
    /*padding-left: 0px;*/
    /*padding-right: 0px;*/
/*}*/

/*.panel-link-to-article:focus,*/
/*.panel-link-to-article:hover {*/
    /*opacity: 0.5;*/
    /*text-decoration: none !important;*/
/*}*/


/*.panel-link-to-article-heading-style {*/
    /*color: #c7a462;*/
    /*font-size: 34px;*/
    /*font-family: 'Playfair Display';*/
    /*padding-bottom: 0px;*/
    /*margin: 0px;*/
    /*border: 0px;*/
    /*line-height: 42px;*/
/*}*/

/*.panel-link-to-article-text {*/
    /*margin-top:10px;*/
    /*font-family: 'Open Sans';*/
    /*font-style: normal;*/
    /*font-weight: 300 !important;*/
    /*color: black;*/
/*}*/

.btn-link-to-article:focus,
.btn-link-to-article:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

.mission-about-us-container{
    background: #E6E6E6;
    padding-top: 36px;
    padding-bottom: 36px;
    /*padding-left: 140px;*/
    /*padding-right: 140px;*/
}

.mission-about-us-container .panel {
    border: none;
    background: transparent;
}

/*About Us Page End*/

/*Contact Us Page Start*/
.social-container {
    max-width: 100%;
    padding-top:100px;
    padding-bottom:100px;
}

.facebook_svg,
.twitter_svg,
.instagram_svg{
    text-align: center;
    padding: 20px;
}
/*Contact Us Page End*/



/*HZ Start*/

.chek-mate-top-container {
    padding-top:60px;
    margin-left:30%;
    margin-right:auto;
    max-width: 40%;
}

.chek-mate-photos-container {
    padding-left:70px;
    padding-right:100px;
    padding-top:100px;
}

chek-mate-photos-container {
    padding-left: 5%;
    padding-right: auto;
    padding-top: 100px;
    max-width: 90%;
}

.chek-mate-trailer-container {
    padding-top:60px;
    padding-bottom: 60px;
    padding-left: 400px;
    padding-right: 400px;
}

.reviews-container {
    padding-top:60px;
    margin-left:25%;
    margin-right:auto;
    max-width: 80%;
}

.creditors-top-container {
    padding-top:60px;
    margin-left:30%;
    margin-right:auto;
    max-width: 40%;
}



.email-phone-container {
    padding-top:100px;
    padding-bottom: 100px;
    margin-right:auto;
    width: 50%;
}

.fill-email-phone-bg {
    background-color: #fff;
}

.center-block {
    display: table;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.bold-gold-text {
    color: #c7a462;
    font-weight: bold;
    margin-top: 2px;
}

.panel-chek-mate-cast-and-crew {
    margin-left: 0px;
    margin-right: 20px;
    border:0px;
    border-bottom:0px;
    box-shadow: none;
}


#panel-contact-us {
    margin:40px;
    border: 1px solid #c7a462 ;
    text-align: center;
    font-size: 36px;
}


.boor-and-proposal-heading {
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0px;
}

.boor-and-proposal-description {
    padding-right: 150px;
    padding-left: 150px;
}

.boor-and-proposal-info {
    color: #c7a462;
    font-size: 1.8vw;
}

.creditors-info {
    color: #c7a462;
    font-size: 1.8vw;
}

.creditors-description {
    padding-right: 350px;
    padding-left: 350px;
}

.text-weight-400 {
    font-weight: 400;
}

.gold-heading-small {
    font-style: italic;
    color:#c7a462;
}

.vault-btn {
    font-family: 'Open Sans' !important;
    font-weight: lighter !important;
    color: #c7a462 !important;
    font-size: 1.6vw !important;
    padding: 0px !important;
}

.vault-btn:focus,
.vault-btn:hover {
    opacity: 0.4;
    text-decoration: none;
}

/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 480px;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}


/* Main carousel style */
/*.gallery-carousel {
    width: 600px;
}*/

/* Indicators list style */
.article-slide .gallery-carousel-indicators {
    /*   bottom: 0;
       left: 0;
       margin-left: 0px;*/
    width: 100%;
    position: relative;
    bottom: -1px !important;
    padding: 0;
    margin-left:0.5%;
    list-style: none;
    left:0 !important;
}

/*.article-slide .gallery-carousel-indicators {
  bottom:-80px;
}*/
/* Indicators list style */
.article-slide .gallery-carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 4px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .gallery-carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .gallery-carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.article-slide .gallery-carousel-indicators img {
    width: 81px;
}

.article-slide .gallery-carousel-indicators li {
    width: 81px;
}

.panel-reviews {
    height: 400px;
    overflow-y: scroll;
}


.grey-background {
    background-color: #EDEDED;
}

.bio-link-column {
    padding-left:30px;
    padding-right:40px;
    margin-right: 100px;
    margin-top: 100px;
}

.thumb-column {
    /*padding-left:0px;*/
}






.reviews-panel:focus,
.reviews-panel:hover {
    opacity: 0.4;
}

.review-panel-quote {
    color: #c7a462;
    padding: 0px;
    width: 2em;
}
.review-panel-text {
    padding:0 0 0 7px !important;
}

.review-panel-author {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
}

.check-mate-reviews-container {
    margin-left: 10%;
    height: 100%;
}

.creditors-reviews-container {
    margin-left: 0;
    height: 100%;
}

.review-column {
    padding-left:30px;
    padding-right:40px;
    margin-right: 100px;
    margin-top: 100px;
}

.creditors-review-column {
    margin-right: 0px !important;
}

.hover-decoration{
    /*margin-top: 52px;*/
}

.hover-decoration:focus,
.hover-decoration:hover {
    opacity: 0.4 !important;
    text-decoration: none !important;
}

.dolls-house-img {
    width: 100%;
    margin: 0;
    opacity: 0.9;
}

.creditors-img {
    width: 100%;
    margin: 0;
}

@media (min-width: 768px) {
    .resp-line-break {
        display:none;
    }
}

/*HZ End*/





/*MOBILE STYLES*/

@media (max-width: 1320px) {
    .home-page-top-img {
        /* margin-left: 135px; */
        margin-left: 0px;
        /* border: 1px solid red; */
    }
}

@media (max-width: 1200px) {

    #top-nav-social{
        display: none;
    }

    #top-nav-social-mobile{
        display: block;
    }


    .navbar-header {
        float: none;
        /*border: 1px solid white;*/
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    /*#top-nav-social {*/
        /*margin-top: 40px;*/
        /*font-size: 35px;*/
        /*z-index: 1001;*/
        /*float: left;*/
        /*left: -327px;*/
    /*}*/

    .navbar-default .navbar-toggle {
        /*left: 630px;*/
        /*top: 22px;*/
    }

    /*.navbar-toggle .icon-bar {*/
        /*display: block;*/
        /*width: 46px;*/
        /*height: 4px;*/
        /*border-radius: 1px;*/
        /*!* padding: 2px; *!*/
        /*margin-top: -4px;*/
    /*}*/

    /*Dropdown menu open*/
    #nav-bar {
        /*height: 1150px !important;*/
    }

    #navbar-menus {
        padding-top: 0px;
        text-align: center;
        padding-top: 251px;
    }

    .navbar-nav>li {
        padding-top: 60px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 70px !important;
    }

    .social-icon {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent !important;
        height: 75px;
        width: 75px;
    }

    /*Home Page*/
    .home-page-top-img {
        margin-left: 0;
        margin-top: 0;
    }

    /*.announce-text-block {*/
        /*font-family: 'Open Sans', sans-serif;*/
        /*font-weight: 300!important;*/
        /*padding-top: 16px;*/
        /*!* border: 1px dashed white; *!*/
    /*}*/

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        position: absolute;
        background-color: rgba(255,255,255, 0.85);
        z-index: 20;
        top: 0px;
        right: 52px;
        max-width: 61%;
        color: black;
        margin-top: 104px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 34px;
        padding-top: 34px;
    }
}

@media (max-width: 1160px) {
    .home-page-top-img{
        margin-left: -101px;
    }
}

@media  (max-width: 1070px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        width: 102%;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: lighter;
        color: black;
    }

    #logo-img {
        height: 56px;
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
    }

    /*Dropdown menu open*/
    #nav-bar {
        /*height: 794px !important;*/
    }

    #navbar-menus {
        padding-top: 0px;
        text-align: center;
        padding-top: 251px;
    }

    .navbar-nav>li {
        padding-top: 60px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 70px !important;
    }

    /*Home Page*/

    .announce-container {
        margin-top: 74px;
    }

    .announce-text-block {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300!important;
        padding-top: 2px;
        padding-left: 0;
        padding-right: 0px;
        padding-bottom: 16px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
    }


    .section-text-block {
        margin-top: 13px;
        margin-bottom: 34px;
    }

    .heading-style {
        color: #c7a462;
        font-size: 36px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 40px;
        margin-top: 48px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        position: absolute;
        background-color: rgba(255,255,255, 0.85);
        z-index: 20;
        top: -95px;
        right: 52px;
        max-width: 46%;
        color: black;
        margin-top: 104px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 15px;
        padding-top: 19px;
    }

    .strindberg-in-bergman-heading {
        color: #c7a462;
        font-size: 36px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        margin-top: 0px;
        line-height: 40px;
    }

    .strindberg-in-bergman-text {
        font-family: 'Open Sans';
        font-weight: lighter;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
        margin-top: 9px;
        margin-bottom: 23px;
    }

    .btn-read-more {
        border-radius: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: black;
        font-size: 22px;
        background: none;
        border: 2px solid #c7a462;
        font-family: 'Open Sans', sans-serif;
        padding: 11px 87px;
        float: right;
    }

    .chekhov-image {
        margin-top: 32px;
        width: 222px!important;
        height: 318px!important;
    }

    /*About Us Page*/
    .panel-link-to-article {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 36px;
        padding-right: 36px;
    }
}

@media (max-width: 1025px) {
    html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

    .heading-style {
        color: #c7a462;
        font-size: 36px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 40px;
        margin-top: 48px;
    }

    .announce-text-block {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300!important;
        padding-top: 0px;
        padding-left: 0;
        padding-right: 30px;
    }

    .coming-next {
        font-family: "Playfair Display";
        font-size: 30px;
        line-height: 29px;
    }

    .announcement-dates {
        font-size: 30px;
        /* line-height: 18px; */
        /* margin: 0px; */
    }

    .show-name {
        font-size: 30px;
        margin-bottom: 0;
        margin-top: -8px;
    }

    .show-description {
        font-weight: lighter !important;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 27px;
    }


    .home-page-top-img {
        margin-left: -59px;
        margin-top: 0;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        position: absolute;
        background-color: rgba(255,255,255, 0.85);
        z-index: 20;
        top: 0px;
        right: 52px;
        max-width: 61%;
        color: black;
        margin-top: 104px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 34px;
        padding-top: 34px;
    }

    .chekhov-image {
        margin-top: 32px;
        width: 243px!important;
        height: 322px!important;
    }
    /*About Page*/
    .coart-info {
        margin-left: -58px;
        margin-top: 98px;
    }

    .coart-bio{
        padding-top: 0;
    }

    .border-gold {
        border: none;
        border-radius: 7px;
        margin-bottom: 104px;
    }

    .border-gold-column {
        padding: 0px 59px;
    }
}

@media (max-width: 945px) {
    .home-page-top-img{
        width: 131%;
    }
}

/*iPad*/
@media (max-width: 768px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        width: 102%;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: lighter;
        color: black;
    }

    #logo-img {
        height: 56px;
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
    }

/*Dropdown menu open*/
    #nav-bar {
        /*height: 794px !important;*/
    }

    #navbar-menus {
        padding-top: 0px;
        text-align: center;
        padding-top: 251px;
    }

    .navbar-nav>li {
        padding-top: 60px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 70px !important;
    }

    /*Home Page*/

    .announce-container {
        margin-top: 74px;
    }

    .announce-text-block {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300!important;
        padding-top: 2px;
        padding-left: 0;
        padding-right: 0px;
        padding-bottom: 16px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
    }


    .section-text-block {
        margin-top: 13px;
        margin-bottom: 34px;
    }

    .home-page-top-img{
        width: 145%;
    }

    .heading-style {
        color: #c7a462;
        font-size: 36px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 40px;
        margin-top: 48px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        position: absolute;
        background-color: rgba(255,255,255, 0.85);
        z-index: 20;
        top: -95px;
        right: 52px;
        max-width: 46%;
        color: black;
        margin-top: 104px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 15px;
        padding-top: 19px;
    }

    .strindberg-in-bergman-heading {
        color: #c7a462;
        font-size: 36px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        margin-top: 0px;
        line-height: 40px;
    }

    .strindberg-in-bergman-text {
        font-family: 'Open Sans';
        font-weight: lighter;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
        margin-top: 9px;
        margin-bottom: 23px;
    }

    .btn-read-more {
        border-radius: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: black;
        font-size: 22px;
        background: none;
        border: 2px solid #c7a462;
        font-family: 'Open Sans', sans-serif;
        padding: 11px 87px;
        float: right;
    }

    .chekhov-image {
        margin-top: 32px;
        width: 222px!important;
        height: 318px!important;
    }

    /*About Us Page*/
    .panel-link-to-article {
        padding-top: 20px;
        padding-bottom: 0px;
        padding-left: 36px;
        padding-right: 36px;
    }

    .border-gold {
        border: none;
        border-radius: 7px;
        margin-bottom: 104px;
        /* padding: 0px 52px; */
    }
}

@media (max-width: 690px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: black;
        width: 111%;
    }

    #logo-img {
        display: none;
    }

    #logo-img-mobile{
        display: block;
    }

    #logo-img-mobile {
        height: 30px;
        width: auto;
        margin-top: 0px;
    }

    .social-icon {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent !important;
        height: 30px;
        width: 30px;
    }

    .navbar-social {
        margin-right: 22px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 43px;
        height: 2px;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    .heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 31px;
        margin-top: 56px;
    }

    .section-text-block {
        margin: 0 0 2px;
        padding-right: 0px;
        font-size: 16px;
        line-height: 27px;
        margin-top: 10px;
    }

    .btn-read-more {
        color: black;
        font-size: 16px;
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        float: none;
        margin-bottom: 11px;
    }

    .marriages-on-the-verge-img,
    .insider-louisville-image {
        display: none;
    }

    .insider-louisville-image_mobile{
        width: 100%;
        display: block;
    }

    .eli-keel-container,
    .marriages-on-the-verge-container
    {
        margin-bottom: 0;
    }

    #image {
        margin-top: 62px;
    }



    /*Home Page*/

    .top-wrapper {
        padding-top: 35px;
        padding-left: 12px;
        padding-right: 12px;
        /* border: 1px solid red; */
    }

    .announce-text-block {
        margin-top: -40px;
        margin-left: 34px;
        background: none;
    }

    .coming-next {
        font-family: "Playfair Display";
        font-size: 24px;
        line-height: 15px;
    }

    .announcement-dates {
        font-size: 24px;
        /* line-height: 18px; */
        /* margin: 0px; */
    }

    .show-name {
        font-size: 24px;
        margin-bottom: 0;
        margin-top: -8px;
    }

    .show-description {
        font-weight: lighter !important;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 27px;
        margin-top: 12px;
    }

    .home-page-top-img {
        margin-top: -37px;
        margin-left: 19px;
        width: 128%;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 14px 144px;
        position: absolute;
        top: 490px;
        left: 58px;
        z-index: 10;
        background: black;
        opacity: .8;
    }

    .top-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: black;
        height: 561px;
        position: relative;
    }

    .top-container .announce-well {
        position: absolute;
        top: -66px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }


    #navbar-menus {
        padding-top: 65px;
        position: absolute;
        left: 28px;
        text-align: center;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 30px !important;
    }

    #top-nav-social {
        /*font-size: 14px;*/
        /*position: absolute;*/
        /*left: 52px;*/
        /*top: -4px;*/
    }

    .top-img {
        position: absolute;
        bottom: 0px;
    }

    .author {
        line-height: 0px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -277px;
        right: 0px;
        color: black;
    }

    .strindberg-in-bergman-text {
        width: 286px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 98px;
        left: 129px;
    }



    .chekhov {
        position: absolute;
        top: -602px;
        left: 57px;
        width: 326px;
        height: 184px;
    }

    .chekhov-image {
        margin-top: 0;
    }

    #contact-info-footer {
        padding-top: 17px;
        color: #c7a462 !important;
        text-align: center;
        font-size: 13px;
    }

    /*About Us Styles*/
    .bio-container {
        margin-top: 70px;
    }

    .bio-column {
        padding: 0px 47px;
        margin-bottom: 42px;
    }

    .about-us-heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        line-height: 26px;
    }

    .coart-container {
        padding: 0 20px;
    }

    .coart-info {
        margin-left: -15px;
        margin-top: 41px;
    }

    .coart-bio {
        padding-top: 0px;
        margin-top: -8px;
    }


    .border-gold {
        border: 2px solid rgba(199, 164, 98, 0.4);
        border-radius: 7px;
        margin-bottom: 45px;
    }

    .panel-link-to-article {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .coart-pos {
        font-size: 15px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-style: italic;
        color: #c7a462;
    }

    .panel-link-to-article a{
        color: black;
    }

    .panel-link-to-article-heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: 'Playfair Display';
        padding-bottom: 0px;
        /*padding-top: 66px;*/
        margin: 0px;
        border: 0px;
        line-height: 28px;
    }

    .mission-about-us-container {
        background: #E6E6E6;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*iPhone 6 Plus/ Nexus 5*/
@media (max-width: 514px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: black;
        width: 111%;
    }

    #logo-img {
    display: none;
    }

    #logo-img-mobile{
    display: block;
    }

    #logo-img-mobile {
        height: 30px;
        width: auto;
        margin-top: 0px;
    }

    .social-icon {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent !important;
        height: 30px;
        width: 30px;
    }

    .navbar-social {
        margin-right: 22px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 43px;
        height: 2px;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    .heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 31px;
        margin-top: 56px;
    }

    .section-text-block {
        margin: 0 0 2px;
        padding-right: 0px;
        font-size: 16px;
        line-height: 27px;
        margin-top: 10px;
    }

    .btn-read-more {
        color: black;
        font-size: 16px;
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        float: none;
        margin-bottom: 11px;
    }

    .marriages-on-the-verge-img,
    .insider-louisville-image {
        display: none;
    }

    .insider-louisville-image_mobile{
        width: 100%;
        display: block;
    }

    .eli-keel-container,
    .marriages-on-the-verge-container
    {
        margin-bottom: 0;
    }

    #image {
        margin-top: 62px;
    }



    /*Home Page*/

    .top-wrapper {
        padding-top: 35px;
        padding-left: 12px;
        padding-right: 12px;
        /* border: 1px solid red; */
    }

    .announce-text-block {
        margin-top: -40px;
        margin-left: 34px;
        background: none;
    }

    .coming-next {
        font-family: "Playfair Display";
        font-size: 24px;
        line-height: 15px;
    }

    .announcement-dates {
        font-size: 24px;
        /* line-height: 18px; */
        /* margin: 0px; */
    }

    .show-name {
        font-size: 24px;
        margin-bottom: 0;
        margin-top: -8px;
    }

    .show-description {
        font-weight: lighter !important;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 27px;
        margin-top: 12px;
    }

    .home-page-top-img {
        margin-top: -37px;
        margin-left: 19px;
        width: 128%;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 14px 107px;
        position: absolute;
        top: 377px;
        left: 8px;
        z-index: 10;
        background: black;
        opacity: .8;
    }

    .top-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: black;
        height: 561px;
        position: relative;
    }

    .top-container .announce-well {
        position: absolute;
        top: -66px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }


    #navbar-menus {
        padding-top: 65px;
        position: absolute;
        left: 28px;
        text-align: center;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 30px !important;
    }

    #top-nav-social {
        /*font-size: 14px;*/
        /*position: absolute;*/
        /*left: 52px;*/
        /*top: -4px;*/
    }

    .top-img {
        position: absolute;
        bottom: 0px;
    }

    .author {
        line-height: 0px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -277px;
        right: 0px;
        color: black;
    }

    .strindberg-in-bergman-text {
        width: 286px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 98px;
        left: 129px;
    }



    .chekhov {
        position: absolute;
        top: -602px;
        left: 57px;
        width: 326px;
        height: 184px;
    }

    .chekhov-image {
        margin-top: 0;
    }

    #contact-info-footer {
        padding-top: 17px;
        color: #c7a462 !important;
        text-align: center;
        font-size: 13px;
    }

    /*About Us Styles*/
    .bio-container {
        margin-top: 70px;
    }

    .bio-column {
        padding: 0px 47px;
        margin-bottom: 42px;
    }

    .about-us-heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        line-height: 26px;
    }

    .coart-container {
        padding: 0 20px;
    }

    .coart-info {
        margin-left: -15px;
        margin-top: 41px;
    }

    .coart-bio {
        padding-top: 0px;
        margin-top: -8px;
    }


    .border-gold {
        border: 2px solid rgba(199, 164, 98, 0.4);
        border-radius: 7px;
        margin-bottom: 45px;
    }

    .panel-link-to-article {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .coart-pos {
        font-size: 15px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-style: italic;
        color: #c7a462;
    }

    .panel-link-to-article a{
        color: black;
    }

    .panel-link-to-article-heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: 'Playfair Display';
        padding-bottom: 0px;
        /*padding-top: 66px;*/
        margin: 0px;
        border: 0px;
        line-height: 28px;
    }

    .mission-about-us-container {
        background: #E6E6E6;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*iPhone6/ Galaxy S5*/
@media (max-width: 376px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: black;
        width: 111%;
    }

    .mobile-img{
        margin-bottom: 12px
    }

    #logo-img-mobile {
        height: 26px;
        width: auto;
        margin-top: 0px;
    }

    .social-icon {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent !important;
        height: 26px;
        width: 26px;
    }

    .navbar-social {
        margin-right: 17px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 43px;
        height: 2px;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    .heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 31px;
        margin-top: 56px;
    }

    .section-text-block {
        margin: 0 0 2px;
        padding-right: 0px;
        font-size: 16px;
        line-height: 27px;
        margin-top: 10px;
    }

    .btn-read-more {
        color: black;
        font-size: 16px;
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        float: none;
        margin-bottom: 11px;
    }

    .marriages-on-the-verge-img,
    .insider-louisville-image {
        display: none;
    }

    .insider-louisville-image_mobile{
        width: 100%;
        display: block;
    }

    .eli-keel-container,
    .marriages-on-the-verge-container
    {
        margin-bottom: 0;
    }

    .author {
        line-height: 0px;
    }

    #image {
        margin-top: 62px;
    }



    .top-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: black;
        height: 561px;
        position: relative;
    }

    .top-container .announce-well {
        position: absolute;
        top: -66px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 14px 107px;
        position: absolute;
        top: 347px;
        left: 5px;
        z-index: 10;
        background: black;
        opacity: .8;
    }

    #navbar-menus {
        padding-top: 65px;
        position: absolute;
        left: 28px;
        text-align: center;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 30px !important;
    }


    .top-img {
        position: absolute;
        bottom: 0px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -277px;
        right: 0px;
        color: black;
    }

    .strindberg-in-bergman-text {
        width: 286px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 98px;
        left: 129px;
    }



    .chekhov {
        position: absolute;
        top: -602px;
        left: 57px;
        width: 326px;
        height: 184px;
    }

    .chekhov-image {
        margin-top: 0;
    }

    #contact-info-footer {
        padding-top: 17px;
        color: #c7a462 !important;
        text-align: center;
        font-size: 13px;
    }

    /*About Us Styles*/

    .bio-column {
        /* border: 1px dashed red; */
        padding: 0 18px;
        margin-bottom: 52px;
    }

    .coart-container {
        padding: 0 27px;
    }

    /*.coart-dir {*/
        /*margin-left: -11px;*/
        /*padding-bottom: 20px;*/
        /*padding-top: 31px;*/
    /*}*/

    /*.coart-name {*/
        /*margin-top: -50px;*/
        /*margin-bottom: 0px !important;*/
        /*font-size: 24px;*/
        /*font-family: 'Open Sans', sans-serif;*/
        /*font-weight: lighter;*/
        /*color: #c7a462;*/
        /*line-height: 28px;*/
    /*}*/

    /*.coart-pos {*/
        /*font-size: 15px;*/
        /*line-height: 27px;*/
        /*font-family: 'Open Sans', sans-serif;*/
        /*font-weight: lighter;*/
        /*font-style: italic;*/
        /*color: #c7a462;*/
    /*}*/

    .mission-about-us-container {
        background: #E6E6E6;
        padding-top: 0px;
        padding-bottom: 36px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

/*iPhone5*/
@media (max-width: 320px){
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: black;
        width: 111%;
    }

    .top-wrapper {
        padding-top: 35px;
        padding-left: 10px;
        padding-right: 8px;
        /* border: 1px solid red; */
    }

    .heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 31px;
        margin-top: 56px;
    }

    .section-text-block {
        margin: 0 0 2px;
        padding-right: 0px;
        font-size: 16px;
        line-height: 27px;
        margin-top: 10px;
    }

    #logo-img-mobile {
        height: 26px;
        width: auto;
        margin-top: 0px;
    }

    .social-icon {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent !important;
        height: 26px;
        width: 26px;
    }

    .navbar-social {
        margin-right: 17px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 43px;
        height: 2px;
        margin-top: 0px;
        margin-bottom: 12px;
    }

    .btn-read-more {
        color: black;
        font-size: 16px;
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        float: none;
        margin-bottom: 11px;
    }

    .marriages-on-the-verge-img,
    .insider-louisville-image {
        display: none;
    }

    .author{
        line-height: 0;
    }

    .insider-louisville-image_mobile{
        width: 100%;
        display: block;
    }

    .eli-keel-container,
    .marriages-on-the-verge-container
    {
        margin-bottom: 0;
    }

    #image {
        margin-top: 62px;
    }



    .top-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: black;
        height: 561px;
        position: relative;
    }

    .top-container .announce-well {
        position: absolute;
        top: -66px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 14px 81px;
        position: absolute;
        top: 324px;
        left: 1px;
        z-index: 10;
        background: black;
        opacity: .8;
    }

    #navbar-menus {
        padding-top: 65px;
        position: absolute;
        left: 28px;
        text-align: center;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 30px !important;
    }

    .top-img {
        position: absolute;
        bottom: 0px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -277px;
        right: 0px;
        color: black;
    }

    .strindberg-in-bergman-text {
        width: 286px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 98px;
        left: 129px;
    }



    .chekhov {
        position: absolute;
        top: -602px;
        left: 57px;
        width: 326px;
        height: 184px;
    }

    .chekhov-image {
         margin-top: 0;
    }

    #contact-info-footer {
        padding-top: 17px;
        color: #c7a462 !important;
        text-align: center;
        font-size: 13px;
    }

    /*About Us Styles*/

    .coart-container {
        padding: 0px 20px;
    }

    .bio-column {
        padding: 0 18px;
        margin-bottom: 52px;
    }

    .coart-info {
        margin-left: -15px;
        margin-top: 26px;
    }


    .mission-about-us-container {
        background: #E6E6E6;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


