/*Common Styles Start*/

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: black;
}

image{
    width: 100% !important;
}

.container-fluid {
    max-width: 1440px;
    padding: 0;
}

.section-text-block{
    margin-top: 34px;
    margin-bottom: 34px;
}

.btn-read-more {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: black;
    font-size: 22px;
    background: none;
    border: 2px solid #c7a462;
    font-family: 'Open Sans', sans-serif;
    padding: 11px 87px;
    float: right;
}

.btn-read-more:hover,
.btn-read-more:active {
    border: 2px solid #c7a462 ;
    opacity: 0.4
}

.heading-style {
    color: #c7a462;
    font-size: 46px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 56px;
}

.heading-style-italic {
    color: #c7a462;
    font-size: 46px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 56px;
    font-style: italic;
}

/*Backgrounds*/
.fill-background-black {
    background-color: black;
    border-bottom: 2px solid #c7a462 ;
}

.fill-background-gray{
    background-color: #E8E8E8;
}

.fill-footer {
    background-color: #4d4d4d;
    border-top: 2px solid #c7a462;
}

/*Other Common*/
.author{
    line-height: 38px;
}

.page-header {
    margin-top: 104px;
}

/*Common Styles End*/



/*Header Start*/
#logo-img {
    height: 75px;
    width: auto;
    margin-top: 35px;
    margin-left: 70px;
}

/*Dropdown menu*/
.navbar-default .navbar-toggle {
    border: none;
}


#nav-bar {
    height: 150px !important;
}

#navbar-menus {
    padding-top: 0px;
}
#nav-bar-top {
    margin-bottom: 0;
    background-color: black;
    border: 0px;
    width: 100%;
}

#top-nav-social {
    margin-top: 40px;
    font-size: 0.7em;
    z-index: 1001;
}

#nav-bar-bottom {
    background-color: #4d4d4d;
    margin-bottom: 0px;
    height: 110px;
    border: 0px;
    border-radius: 0px;
}

.navbar-nav>li {
    padding-top: 10px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    font-size: 22px !important;
}
.navbar-nav > li > .dropdown-menu {
    background-color: black;
}

.dropdown-header {
    color: white !important;
}

.dropdown-menu > li > a {
    color:white !important;
}
.navbar-default .navbar-collapse {
    border: 0px
}

.navbar-default .navbar-nav > li > a {
    color: #c7a462;
}

.navbar-social {
    margin-right: 20px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #c7a462;
    /* text-decoration: underline;*/
    border-bottom: 1px solid  rgba(199, 164, 98, 0.6);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #c7a462;
    opacity: 0.4;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #c7a462;
    opacity: 0.4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color:transparent;
    opacity: 0.4;
    color: #c7a462
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    opacity: 0.4;
    background-color: transparent;
}

.dropdown-menu .divider {
    background-color: #c7a462 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #c7a462;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: black;
}

.social-icon {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent !important;
    height: 2em;
    width: 2em;
}

.social-icon:hover,
.social-icon:focus {
    opacity: 0.4;
}
/*Header End*/

/*Footer Start*/

.olla_copyright {
    color: #c7a462 !important;
}

.olla_copyright:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

#contact-info-footer {
    padding-top: 40px;
    color: #c7a462 !important;
    text-align: center;
}

#design-info-footer {
    padding-top: 40px;
    padding-right: 200px;
    color: #c7a462 !important;
    text-align: right;
}

.social-icon-footer {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c7a462;
    color: transparent !important;
    height: 1.5em;
    width: 1.5em;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    opacity: 0.4;
}

.social-icon-contact-us {
    color: transparent !important;
    margin: 0;
    height: 11em;
    width: auto;
}

.social-icon-contact-us-no-hover {
    color: transparent !important;
    margin: 0;
    height: 11em;
    width: auto;
}

.social-icon-contact-us:hover {
    opacity: 0.5;
}


/*Footer End*/


/*Home Page Start*/

/*Coming Next Section Start*/
.top-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    height: 650px;
    position: relative;
}

.top-container .announce-well {
    position: absolute;
    background-color: transparent;
    border: 0px;
    color: #c7a462;
    z-index: 20;
    margin: 0px;
    text-align: left;
    bottom: 0px;
    right:0px;
    padding: 50px;
    text-align: right;
}

.show-name {
    font-family: "Playfair Display";
    font-weight: regular;
    font-size: 32px;
    line-height: 55px;
    margin: 0px;
}

.announcement-dates {
    font-family: "Playfair Display" !important;
    font-size: 28px !important;
    line-height: 18px !important;
    margin: 0px;
}

.show-description {
    font-family: 'Open Sans' !important;
    font-weight: lighter !important;
    font-size: 16px;
    line-height: 10px;
}

#announcent-clickable-section:hover {
    text-decoration: none !important;
    color: rgba(199, 164, 98, 0.5) !important;
}


.announcement-btn {
    font-family: 'Open Sans' !important;
    font-weight: lighter !important;
    color: #c7a462 !important;
    font-size: 16px !important;
    padding: 0px !important;
    margin: 5px 0px 0px 0px;
}

.top-img {
    position: absolute; bottom: 0;
}

.btn-buy-tickets-top {
    color: #c7a462 !important;
    border: 1px solid #c7a462 !important;
    border-radius: 0px;
    padding: 15px 99px;
}
/*Coming Next Section End*/

/*Eli Keel Section Start*/
.eli-keel-container{
    margin-bottom: 52px;
}

.panel-article-insider-louisville {
    /*margin-top: 20px;*/
    /*padding: 0px;*/
}

.insider-louisville-text{
    /*margin-left: 30px;*/
}

.eli-keel{
    line-height: 30px;
}

.insider-louisville-image{
    width: 100%;
    margin-top: 34px;
}

.insider-louisville-image_mobile{
    width: 100%;
    display: none;
}
/*Eli Keel Section End*/

/*Marriages On The Verge Section Start*/
.marriages-on-the-verge-container {
    line-height: 30px;
    margin-bottom: 52px;
}

.marriages-on-the-verge-img{
    width: 81%;
    margin-top: 34px;
}


/*Marriages On The Verge Section End*/

/*Strindberg in Bergman Section Start*/
.strindberg-in-bergman-container .strindberg-in-bergman-well {
    position: absolute;
    background-color: rgba(255,255,255, 0.8);
    z-index: 20;
    top: 0px;
    right: 52px;
    max-width: 28%;
    color: black;
    margin-top: 104px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 34px;
    padding-top: 34px;
}

.strindberg-in-bergman-container {
    padding:0px;
    margin-bottom: 0px;
    width: 100%;
    position: relative;
}

#strindberg-in-bergman-image {
    /* position: relative;*/
    width: 100%;
    margin: 0;
}

.strindberg-in-bergman-heading {
    color: #c7a462;
    font-size: 46px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    margin-top: 0px;
    line-height: 56px;
}

.strindberg-in-bergman-text {
    font-family: 'Open Sans';
    font-weight: lighter;
    margin: 0px;
    border: 0px;
    text-align: left;
    color: black;
    margin-top: 15px;
    margin-bottom: 34px
}
/*Strindberg in Bergman Section End*/

/*Chekhov Section Start*/
.translate-chekhov-container{
    margin-bottom: 52px;
}

.chekhov-image{
    margin-top: 104px;
}

.panel-article-translate-chekhov p {
   line-height: 30px;
    margin-top: 34px;
}

#panel-article-translate-chekhov .panel-body {
    padding: 0px;
    margin-top: 0px;
    line-height: 30px;
}
/*Chekhov Section End*/

/*Home Page End*/


/*About Us Page Start*/
.coart-dir {
    padding-top: 40px;
    padding-bottom: 20px;
    /*padding-left: 20px;*/
}

.coart-name {
    margin-top: 80px;
    margin-bottom: 0px !important;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #c7a462 ;
}

.coart-pos {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #c7a462 ;
}

.bio-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300 !important;
}

.bio-text-insert {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.aboutus-container {
    padding-top:104px;
    line-height: 30px;
}

.coming-next-container{
    margin-top: 60px;
}
.coming-next-text-block{
    float: right;
    padding-right: 40px;
    text-align: right;
}

.director-img {
    height: 160px;
}

.bio-column {
    /*border: 1px dashed red;*/
    padding: 0 140px;
    margin-bottom: 52px;
}

.border-gold{
    border: 2px solid  rgba(199, 164, 98, 0.4);
    border-radius: 7px;
    margin-bottom: 104px;
}

.panel-link-to-article {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 140px;
    padding-right: 140px;
}

.panel-link-to-article:focus,
.panel-link-to-article:hover {
    opacity: 0.5;
    text-decoration: none !important;
}


.panel-link-to-article-heading-style {
    color: #c7a462;
    font-size: 34px;
    font-family: 'Playfair Display';
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 42px;
}

.panel-link-to-article-text {
    margin-top:10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300 !important;
    color: black;
}

.btn-link-to-article:focus,
.btn-link-to-article:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

.mission-about-us-container{
    background: #E6E6E6;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 140px;
    padding-right: 140px;
}

/*About Us Page End*/

/*Contact Us Page Start*/
.social-container {
    max-width: 100%;
    padding-top:100px;
    padding-bottom:100px;
}

.facebook_svg,
.twitter_svg,
.instagram_svg{
    text-align: center;
}
/*Contact Us Page End*/



/*HZ Start*/

.chek-mate-top-container {
    padding-top:60px;
    margin-left:30%;
    margin-right:auto;
    max-width: 40%;
}

.chek-mate-photos-container {
    padding-left:70px;
    padding-right:100px;
    padding-top:100px;
}

chek-mate-photos-container {
    padding-left: 5%;
    padding-right: auto;
    padding-top: 100px;
    max-width: 90%;
}

.chek-mate-trailer-container {
    padding-top:60px;
    padding-bottom: 60px;
    padding-left: 400px;
    padding-right: 400px;
}

.reviews-container {
    padding-top:60px;
    margin-left:25%;
    margin-right:auto;
    max-width: 80%;
}

.creditors-top-container {
    padding-top:60px;
    margin-left:30%;
    margin-right:auto;
    max-width: 40%;
}



.email-phone-container {
    padding-top:100px;
    padding-bottom: 100px;
    margin-right:auto;
    width: 50%;
}

.fill-email-phone-bg {
    background-color: #e6e6e6;
}

.center-block {
    display: table;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.bold-gold-text {
    color: #c7a462;
    font-weight: bold;
    margin-top: 2px;
}

.panel-chek-mate-cast-and-crew {
    margin-left: 0px;
    margin-right: 20px;
    border:0px;
    border-bottom:0px;
    box-shadow: none;
}


#panel-contact-us {
    margin:40px;
    border: 1px solid #c7a462 ;
    text-align: center;
    font-size: 36px;
}


.boor-and-proposal-heading {
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0px;
}

.boor-and-proposal-description {
    padding-right: 150px;
    padding-left: 150px;
}

.boor-and-proposal-info {
    color: #c7a462;
    font-size: 1.8vw;
}

.creditors-info {
    color: #c7a462;
    font-size: 1.8vw;
}

.creditors-description {
    padding-right: 350px;
    padding-left: 350px;
}

.text-weight-400 {
    font-weight: 400;
}

.gold-heading-small {
    font-style: italic;
    color:#c7a462;
}

.vault-btn {
    font-family: 'Open Sans' !important;
    font-weight: lighter !important;
    color: #c7a462 !important;
    font-size: 1.6vw !important;
    padding: 0px !important;
}

.vault-btn:focus,
.vault-btn:hover {
    opacity: 0.4;
    text-decoration: none;
}

/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 480px;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}


/* Main carousel style */
/*.gallery-carousel {
    width: 600px;
}*/

/* Indicators list style */
.article-slide .gallery-carousel-indicators {
    /*   bottom: 0;
       left: 0;
       margin-left: 0px;*/
    width: 100%;
    position: relative;
    bottom: -1px !important;
    padding: 0;
    margin-left:0.5%;
    list-style: none;
    left:0 !important;
}

/*.article-slide .gallery-carousel-indicators {
  bottom:-80px;
}*/
/* Indicators list style */
.article-slide .gallery-carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 4px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .gallery-carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .gallery-carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.article-slide .gallery-carousel-indicators img {
    width: 81px;
}

.article-slide .gallery-carousel-indicators li {
    width: 81px;
}

.panel-reviews {
    height: 400px;
    overflow-y: scroll;
}


.grey-background {
    background-color: #EDEDED;
}

.bio-link-column {
    padding-left:30px;
    padding-right:40px;
    margin-right: 100px;
    margin-top: 100px;
}

.thumb-column {
    padding-left:0px;
}






.reviews-panel:focus,
.reviews-panel:hover {
    opacity: 0.4;
}

.review-panel-quote {
    color: #c7a462;
    padding: 0px;
    width: 2em;
}
.review-panel-text {
    padding:0 0 0 7px !important;
}

.review-panel-author {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
}

.check-mate-reviews-container {
    margin-left: 10%;
    height: 100%;
}

.creditors-reviews-container {
    margin-left: 0;
    height: 100%;
}

.review-column {
    padding-left:30px;
    padding-right:40px;
    margin-right: 100px;
    margin-top: 100px;
}

.creditors-review-column {
    margin-right: 0px !important;
}

.hover-decoration{
    /*margin-top: 52px;*/
}

.hover-decoration:focus,
.hover-decoration:hover {
    opacity: 0.4 !important;
    text-decoration: none !important;
}

.dolls-house-img {
    width: 100%;
    margin: 0;
    opacity: 0.9;
}

.creditors-img {
    width: 100%;
    margin: 0;
}

@media (min-width: 768px) {
    .resp-line-break {
        display:none;
    }
}

/*HZ End*/





/*MOBILE STYLES*/

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    #top-nav-social {
        margin-top: 40px;
        font-size: 35px;
        z-index: 1001;
        float: left;
        left: -327px;
    }

    .navbar-default .navbar-toggle {
        border: none;
        left: 630px;
        top: 46px;
    }

    .navbar-toggle .icon-bar {
        display: block;
        width: 46px;
        height: 4px;
        border-radius: 1px;
        /* padding: 2px; */
        margin-top: -4px;
    }

    /*Dropdown menu open*/
    #nav-bar {
        height: 1150px !important;
    }

    #navbar-menus {
        padding-top: 0px;
        text-align: center;
        padding-top: 251px;
    }

    .navbar-nav>li {
        padding-top: 60px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 70px !important;
    }
}

@media (max-width: 1025px) {
    html, body {
    max-width: 100%;
    overflow-x: hidden;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        position: absolute;
        background-color: rgba(255,255,255, 0.85);
        z-index: 20;
        top: 0px;
        right: 52px;
        max-width: 61%;
        color: black;
        margin-top: 104px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 34px;
        padding-top: 34px;
    }
}


/*iPad*/
@media (max-width: 768px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        width: 102%;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: lighter;
        color: black;
    }

    #logo-img {
        height: 56px;
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
    }

    #top-nav-social {
        margin-top: 15px;
        font-size: 28px;
        z-index: 1001;
        float: left;
        left: -259px;
    }

    .navbar-default .navbar-toggle {
        border: none;
        left: 474px;
        top: 12px;
        padding: 12px;
    }
/*Dropdown menu open*/
    #nav-bar {
        height: 794px !important;
    }

    #navbar-menus {
        padding-top: 0px;
        text-align: center;
        padding-top: 251px;
    }

    .navbar-nav>li {
        padding-top: 60px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 70px !important;
    }
}

/*iPhone 6 Plus/ Nexus 5*/
@media (max-width: 414px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: black;
        width: 111%;
    }

    .heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 28px;
        margin-top: 56px;
    }

    .section-text-block {
        margin: 0 0 10px;
        padding-right: 0px;
        font-size: 16px;
        line-height: 27px;
        margin-top: 28px;
    }

    .btn-read-more {
        color: black;
        font-size: 16px;
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        float: none;
        margin-bottom: 28px;
    }

    .marriages-on-the-verge-img,
    .insider-louisville-image {
        display: none;
    }

    .insider-louisville-image_mobile{
        width: 100%;
        display: block;
    }

    .eli-keel-container,
    .marriages-on-the-verge-container
    {
        margin-bottom: 0;
    }

    #image {
        margin-top: 62px;
    }

    #logo-img {
        height: 34px;
        width: auto;
        margin-top: 5px;
        margin-left: 5px;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
        margin-right: -8px;
        left: -10px;
        top: 1px;
    }

    .top-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: black;
        height: 561px;
        position: relative;
    }

    .top-container .announce-well {
        position: absolute;
        top: -66px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 14px 65px;
    }

    #navbar-menus {
        padding-top: 65px;
        position: absolute;
        left: 28px;
        text-align: center;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 30px !important;
    }

    #top-nav-social {
        font-size: 14px;
        position: absolute;
        left: 52px;
        top: -4px;
    }

    .top-img {
        position: absolute;
        bottom: 0px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -277px;
        right: 0px;
        color: black;
    }

    .strindberg-in-bergman-text {
        width: 286px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 98px;
        left: 129px;
    }

    .panel-article-translate-chekhov p {
        line-height: 30px;
        margin-top: 28px;
    }

    .chekhov {
        position: absolute;
        top: -602px;
        left: 57px;
        width: 326px;
        height: 184px;
    }

    .chekhov-image {
        margin-top: 0;
    }

    #contact-info-footer {
        padding-top: 17px;
        color: #c7a462 !important;
        text-align: center;
        font-size: 13px;
    }

    /*About Us Styles*/
    /*.coart-dir {*/
        /*margin-left: 9px;*/
        /*padding-bottom: 20px;*/
        /*padding-top: 0;*/
    /*}*/

    .bio-column {
        padding: 0px 47px;
        margin-bottom: 42px;
    }

    .coart-dir {
         margin-right: 0px;
         padding-top: 0px;
        padding-bottom: 0px;
        /* padding-left: 20px; */
    }

    .coart-name {
        margin-top: 76px;
        margin-bottom: 0px !important;
        font-size: 32px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: #c7a462;
        /* padding-right: 107px; */
        margin-right: 72px;
    }

    .panel-link-to-article {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .coart-pos {
        font-size: 15px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-style: italic;
        color: #c7a462;
    }

    .panel-link-to-article {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .panel-link-to-article a{
        color: black;
    }

    .border-gold {
        border: 2px solid rgba(199, 164, 98, 0.4);
        border-radius: 7px;
        margin-bottom: 0;
    }

    .panel-link-to-article-heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: 'Playfair Display';
        padding-bottom: 0px;
        padding-top: 66px;
        margin: 0px;
        border: 0px;
        line-height: 28px;
    }

    .mission-about-us-container {
        background: #E6E6E6;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*iPhone6/ Galaxy S5*/
@media (max-width: 376px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: black;
        width: 111%;
    }

    .heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 28px;
        margin-top: 56px;
    }

    .section-text-block {
        margin: 0 0 10px;
        padding-right: 0px;
        font-size: 16px;
        line-height: 27px;
        margin-top: 28px;
    }

    .btn-read-more {
        color: black;
        font-size: 16px;
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        float: none;
        margin-bottom: 28px;
    }

    .marriages-on-the-verge-img,
    .insider-louisville-image {
        display: none;
    }

    .insider-louisville-image_mobile{
        width: 100%;
        display: block;
    }

    .eli-keel-container,
    .marriages-on-the-verge-container
    {
        margin-bottom: 0;
    }

    #image {
        margin-top: 62px;
    }

    #logo-img {
        height: 34px;
        width: auto;
        margin-top: 5px;
        margin-left: 5px;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
        margin-right: -8px;
        left: -10px;
        top: 1px;
    }

    .top-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: black;
        height: 561px;
        position: relative;
    }

    .top-container .announce-well {
        position: absolute;
        top: -66px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 14px 65px;
    }

    #navbar-menus {
        padding-top: 65px;
        position: absolute;
        left: 28px;
        text-align: center;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 30px !important;
    }

    #top-nav-social {
        font-size: 14px;
        position: absolute;
        left: 52px;
        top: -4px;
    }

    .top-img {
        position: absolute;
        bottom: 0px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -277px;
        right: 0px;
        color: black;
    }

    .strindberg-in-bergman-text {
        width: 286px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 98px;
        left: 129px;
    }

    .panel-article-translate-chekhov p {
        line-height: 30px;
        margin-top: 28px;
    }

    .chekhov {
        position: absolute;
        top: -602px;
        left: 57px;
        width: 326px;
        height: 184px;
    }

    .chekhov-image {
        margin-top: 0;
    }

    #contact-info-footer {
        padding-top: 17px;
        color: #c7a462 !important;
        text-align: center;
        font-size: 13px;
    }

    /*About Us Styles*/
    .coart-dir {
        margin-left: -24px;
        padding-bottom: 20px;
        padding-top: 31px;
    }

    .bio-column {
        /* border: 1px dashed red; */
        padding: 0 18px;
        margin-bottom: 52px;
    }

    .coart-name {
        margin-top: 80px;
        margin-bottom: 0px !important;
        font-size: 24px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: #c7a462;
        line-height: 28px;
    }

    .coart-pos {
        font-size: 15px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-style: italic;
        color: #c7a462;
    }

    .panel-link-to-article {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .panel-link-to-article a{
        color: black;
    }

    .border-gold {
        border: 2px solid rgba(199, 164, 98, 0.4);
        border-radius: 7px;
        margin-bottom: 0;
    }

    .panel-link-to-article-heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: 'Playfair Display';
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 28px;
    }

    .mission-about-us-container {
        background: #E6E6E6;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 15px;
        padding-right: 15px;
    }

}

/*iPhone5*/
@media (max-width: 320px){
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: lighter;
        color: black;
        width: 111%;
    }

    .heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 28px;
        margin-top: 56px;
    }

    .section-text-block {
        margin: 0 0 10px;
        padding-right: 0px;
        font-size: 16px;
        line-height: 27px;
        margin-top: 28px;
    }

    .btn-read-more {
        color: black;
        font-size: 16px;
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        float: none;
        margin-bottom: 28px;
    }

    .marriages-on-the-verge-img,
    .insider-louisville-image {
        display: none;
    }

    .insider-louisville-image_mobile{
        width: 100%;
        display: block;
    }

    .eli-keel-container,
    .marriages-on-the-verge-container
    {
        margin-bottom: 0;
    }

    #image {
        margin-top: 62px;
    }

    #logo-img {
        height: 34px;
        width: auto;
        margin-top: 5px;
        margin-left: 5px;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
        margin-right: -8px;
        left: -10px;
        top: 1px;
    }

    .top-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: black;
        height: 561px;
        position: relative;
    }

    .top-container .announce-well {
        position: absolute;
        top: -66px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 14px 65px;
    }

    #navbar-menus {
        padding-top: 65px;
        position: absolute;
        left: 28px;
        text-align: center;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 30px !important;
    }


    #top-nav-social {
        font-size: 14px;
        position: absolute;
        left: 52px;
        top: -4px;
    }

    .top-img {
        position: absolute;
        bottom: 0px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -277px;
        right: 0px;
        color: black;
    }

    .strindberg-in-bergman-text {
        width: 286px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 98px;
        left: 129px;
    }

    .panel-article-translate-chekhov p {
        line-height: 30px;
        margin-top: 28px;
    }

    .chekhov {
        position: absolute;
        top: -602px;
        left: 57px;
        width: 326px;
        height: 184px;
    }

    .chekhov-image {
         margin-top: 0;
    }

    #contact-info-footer {
        padding-top: 17px;
        color: #c7a462 !important;
        text-align: center;
        font-size: 13px;
    }

    /*About Us Styles*/

    .bio-column {
        /* border: 1px dashed red; */
        padding: 0 18px;
        margin-bottom: 52px;
    }

    .coart-dir {
        margin-left: -11px;
        padding-bottom: 20px;
        padding-top: 31px;
    }

    .coart-name {
        margin-top: 80px;
        margin-bottom: 0px !important;
        font-size: 23px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: #c7a462;
        line-height: 28px;
    }

    .coart-pos {
        font-size: 15px;
        line-height: 27px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-style: italic;
        color: #c7a462;
    }

    .panel-link-to-article {
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .panel-link-to-article a{
        color: black;
    }

    .border-gold {
        border: 2px solid rgba(199, 164, 98, 0.4);
        border-radius: 7px;
        margin-bottom: 0;
    }

    .panel-link-to-article-heading-style {
        color: #c7a462;
        font-size: 24px;
        font-family: 'Playfair Display';
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 28px;
    }

    .mission-about-us-container {
        background: #E6E6E6;
        padding-top: 36px;
        padding-bottom: 36px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


