body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: black;
}

image{
    width: 100% !important;
}

.container-fluid {
    max-width: 1440px;
    padding: 0;
}

.fill-background-black {
    background-color: black;
    border-bottom: 2px solid #c7a462 ;
}

.fill-background-gray{
    background-color: #E8E8E8;
}

.fill-footer {
    background-color: #4d4d4d;
    border-top: 2px solid #c7a462;
}

.top-container {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    height: 650px;
    position: relative;
   /* border-bottom: 2px solid #c7a462 ;*/
}

.top-non-home-page-container{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    background-color: black;
    height: 400px;
    position: relative;
   /* border-bottom: 2px solid #c7a462 ;*/
}

/*.chek-mate-top-container {
    padding-top:60px;
    padding-left: 300px;
    padding-right: 350px; 
}*/

.chek-mate-top-container {
    padding-top:60px;
    margin-left:30%;
    margin-right:auto;
    max-width: 40%;
}

.chek-mate-photos-container {
    padding-left:70px;
    padding-right:100px;
    padding-top:100px;
}

chek-mate-photos-container {
    padding-left: 5%;
    padding-right: auto;
    padding-top: 100px;
    max-width: 90%;
}

.chek-mate-trailer-container {
    padding-top:60px;
    padding-bottom: 60px;
    padding-left: 400px;
    padding-right: 400px;   
}

.reviews-container {
    padding-top:60px;
    margin-left:25%;
    margin-right:auto;
    max-width: 80%;  
}

/*.creditors-top-container {
    padding-top:60px;
    padding-left: 100px;
    padding-right: 100px; 
}*/

.creditors-top-container {
    padding-top:60px;
    margin-left:30%;
    margin-right:auto;
    max-width: 40%;
}

.social-container {
    max-width: 100%; 
    padding-top:100px;
    padding-bottom:100px;
    width: 70%;
}

.email-phone-container {
    padding-top:100px;
    padding-bottom: 100px;
    margin-right:auto; 
    width: 50%;
}

.fill-email-phone-bg {
    background-color: #e6e6e6;
}

.center-block {
    display: table;
    margin: 0 auto;
}

.center-text {
    text-align: center;
}

.bold-gold-text {
    color: #c7a462;
    font-weight: bold;
    margin-top: 2px;
}

.olla_copyright {
    color: #c7a462 !important;
}

.olla_copyright:hover {
    opacity: 0.5;
    text-decoration: none !important;
}


.parallax {
    height: 100%;     
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/2.jpg");
}

.top-img {
    position: absolute; bottom: 0; 
}

.marriages-on-the-verge-container {
    line-height: 30px;
}

.marriages-on-the-verge-img{
    margin-bottom: 52px;
}

.article-section {
    background-color: #E8E8E8;   
}


.strindberg-in-bergman-container .strindberg-in-bergman-well {
    position: absolute;
    background-color: rgba(255,255,255, 0.8);
    z-index: 20;
    top: 0px;
    right: 52px;
    max-width: 28%;
    color: black;
    margin-top: 104px;
    padding-left: 25px;
    padding-right: 25px;
}

.strindberg-in-bergman-container {
    padding:0px;
    margin-bottom: 0px;
    width: 100%;
    position: relative;
}

#strindberg-in-bergman-image {
   /* position: relative;*/
    width: 100%;
    margin: 0;
}


.translate-chekhov-container {
    /*border: 1px dashed blue;*/
}

.chekhov{
    margin-top: 104px;
}

.strindberg-and-helium-container {
    padding-left: 10%;
    padding-right: auto; 
    padding-top: 45px;
    padding-bottom: 30px;
    margin: 0;
    background-color: #E8E8E8;
}

#stringdberg-and-helium-panel-body {
    padding-left:0px;
    background-color: #E8E8E8;
}

#nav-bar {
    height: 150px !important;
}

#navbar-menus {
    padding-top: 0px;
}
#nav-bar-top {
    margin-bottom: 0;
    background-color: black;
    border: 0px;
    width: 100%;
}

#top-nav-social {
    margin-top: 40px;
    font-size: 0.7em;
}

#nav-bar-bottom {
    background-color: #4d4d4d;
    margin-bottom: 0px;
    height: 110px;
    border: 0px;
    border-radius: 0px;
   /* border-top: 2px solid #c7a462;*/
}

#social-row {
    padding-top: 50px;
    height: 100%
}

#contact-info-footer {
    padding-top: 40px;
    color: #c7a462 !important;
    text-align: center;
}

#design-info-footer {
    padding-top: 40px;
    padding-right: 200px;
    color: #c7a462 !important;
    text-align: right;
}

#logo-img {
    height: 75px;
    width: auto;
    margin-top: 35px;
    margin-left: 70px;
}

.navbar-nav>li {
    padding-top: 10px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    font-size: 22px !important;
}
.navbar-nav > li > .dropdown-menu { 
    background-color: black;    
}

.dropdown-header {
    color: white !important;   
}

.dropdown-menu > li > a {
    color:white !important;   
}
.navbar-default .navbar-collapse {
    border: 0px
}

.navbar-default .navbar-nav > li > a {
    color: #c7a462;
}

.navbar-social {
    margin-right: 20px;
}

.article-section {
    height: 100%;
    padding-top: 20px;
}

.strindberg-in-bergman-section {
    height: 100%;   
}

#thumb-img {
    padding-right: 3%;
    padding-top: 1%;
}

.no-padding-left {
    padding-left: 0px !important;
}

#marriages-on-the-verge-img {
    max-height: 340px;
  /*  max-width: 340px;*/
    margin-top: 0px;
    margin-left: 15px;
}

.panel-article {
    border: 0px;
    box-shadow: none;
    padding-left: 350px;
    padding-right: 300px;
    height: 550px
}

.panel-article-full {
    border: 0px;
    box-shadow: none;
    margin-left: -25px;
}

#panel-article-insider-louisville .panel-body {
    padding: 0px;
    margin-top: 0px;
    line-height: 30px;
    width: 105%;
    padding-top: 0;
}



#panel-article-marriages-on-the-verge {
    margin-top: 20px;
    padding-left: 0px;
    padding-top:0px;
    padding-bottom: 0px;
    padding-right: 30px;
    background-color: #E8E8E8
}

#panel-article-insider-louisville {
    margin-top: 20px;
    padding: 0px;
}

.insider-louisville-text{
    margin-left: 30px;
}

#panel-article-translate-chekhov {
    margin-top: 10px;
    padding: 0px;
    margin-left: 0;
}

#panel-show-description {
    padding: 0px;   
}

.panel-left {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: #f2f2f2;
}

.panel-chek-mate-cast-and-crew {
    margin-left: 0px;
    margin-right: 20px;
    border:0px;
    border-bottom:0px;
    box-shadow: none;
}
.panel-right {
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 2.5%;
    background-color: #f2f2f2;
}

#panel-contact-us {
    margin:40px;
    border: 1px solid #c7a462 ; 
    text-align: center;
    font-size: 36px;
} 

.square {
    background: transparent;
    width: 10vw;
    height: 10vw;
    border: 1px solid #c7a462;
    border-radius: 25px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    font: inherit;
    transition: all .5s;
}

.btn-read-more {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: black;
    font-size: 22px;
    background: none;
    border: 2px solid #c7a462;
    font-family: 'Open Sans', sans-serif;
    padding: 11px 87px;
    float: right;
    margin-top: 45px;
    margin-bottom: 30px;
}

.eli-btn {
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: black;
    font-size: 22px;
    background: none;
    font-family: 'Open Sans', sans-serif;
    padding: 11px 87px;
    float: right;
    margin-top: 26px;
    margin-bottom: 30px;
}

.btn-buy-tickets-top {
    color: #c7a462 !important;
    border: 1px solid #c7a462 !important;
    border-radius: 0px;
    padding: 15px 99px;
}

.btn-read-more:hover,
.btn-read-more:active {
    border: 2px solid #c7a462 ;
    opacity: 0.4
}
.sneak-pick-image {
    padding: 2px;
}

.col-centered {
    margin-left: 0px;
    padding: 0px;
}

.jumbotron {
    background-color: #E8E8E8;
    color: black;
    margin-bottom: 0;
}

#mission-jt {
    background-color: white;
    height: 200px;
    width: 700px;
    background-position: center;
}

.navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    color: #c7a462;
   /* text-decoration: underline;*/
   border-bottom: 1px solid  rgba(199, 164, 98, 0.6);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
   color: #c7a462;
    opacity: 0.4;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #c7a462;
    opacity: 0.4;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color:transparent;
    opacity: 0.4;
    color: #c7a462
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    opacity: 0.4;
    background-color: transparent;
}

.dropdown-menu .divider {
    background-color: #c7a462 !important;
}

.social-icon {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    color: transparent !important;
    height: 2em;
    width: 2em;
}

.social-icon:hover,
.social-icon:focus {
    opacity: 0.4;
}

.social-icon-footer {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #c7a462;
    color: transparent !important;
    height: 1.5em;
    width: 1.5em;
}

.social-icon-footer:hover,
.social-icon-footer:focus {
    opacity: 0.4;
}

.social-icon-contact-us {
    color: transparent !important;
    margin: 0;
    height: 11em;
    width: auto;
}

.social-icon-contact-us-no-hover {
    color: transparent !important;
    margin: 0;
    height: 11em;
    width: auto; 
}

.social-icon-contact-us:hover {
    opacity: 0.5;
}

.info-column {
    font-size: 18px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100 !important;
}

.info-column-right {
    padding-right: 50px;
}

.info-column-left {
    padding-left: 50px;
}

#side-thumbnail {
    margin-top: 70px;
    border-radius: 0;
    background-color: #e6e6e6;
    padding-left: 100px;
    padding-right: 100px;
    line-height: 30px;
}

#side-thumbnail p {
    font-size: 18px !important;
}

.eli-keel{
    line-height: 30px;
}

.coart-dir {
    padding-top: 40px;
    padding-bottom: 20px;
    /*padding-left: 20px;*/
}

#artistic-director-thumbnail {
    border: 0px;
    background-color: #f2f2f2;
}

.coart-name {
    margin-top: 80px;
    margin-bottom: 0px !important;
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #c7a462 ;
}

.coart-pos {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-style: italic;
    color: #c7a462 ;
}

.bio-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300 !important;
}

.bio-text-insert {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
}

.heading-style {
    color: #c7a462;
    font-size: 46px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 56px;
}

.heading-style-italic {
    color: #c7a462;
    font-size: 46px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 56px;
    font-style: italic;
}

.show-heading-style {
    color: #c7a462;
    font-size: 65px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 48px;
}

.show-subheading-style {
    color: #c7a462;
    font-size: 18px;
    font-family: "Playfair Display";
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 48px;
}

.boor-and-proposal-heading {
    font-weight: bold;
    padding-bottom: 0px;
    margin: 0px;
}

.boor-and-proposal-description {
    padding-right: 150px;
    padding-left: 150px;
}

.boor-and-proposal-info {
    color: #c7a462;
    font-size: 1.8vw;
}

.creditors-info {
    color: #c7a462;
    font-size: 1.8vw;  
}

.creditors-description {
    padding-right: 350px;
    padding-left: 350px;
}

.text-weight-400 {
    font-weight: 400;
}

.gold-heading-small {
    font-style: italic;
    color:#c7a462;
}

.strindberg-in-bergman-heading {
    color: #c7a462;
    font-size: 46px;
    font-family: "Playfair Display";
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    margin-top: 0px;
    line-height: 56px;
}

.strindberg-in-bergman-text {
    font-family: 'Open Sans';
    font-weight: lighter;
    margin: 0px;
    border: 0px;
    text-align: left;
    color: black;
    margin-top: 15px;
}

.carousel-caption {
    width: 24.5%;
    /* height: 37%;*/
    height: 13vh;
    width: 25vw;
    right: 2% !important;
    bottom: 23%;
    left: auto;
    top: auto;
    resize: none;
}

.top-container .announce-well {
    position: absolute;
    background-color: transparent;
    border: 0px;
    color: #c7a462;
    z-index: 20;
    margin: 0px;
    text-align: left;
    bottom: 0px;
    right:0px;
    padding: 50px;
    text-align: right;
}

.top-non-home-page-container .announce-well {
    position: absolute;
    background-color: transparent;
    border: 0px;
    color: #c7a462;
    z-index: 20;
    margin: 0px;
    text-align: left;
    bottom: 0px;
    right:0px;
    padding: 50px;
    text-align: right;
}

.my-well {
     position: relative;
     top: 0px
}

.coming-next-block{
    float: right;
    text-align: right;
}

.coming-next {
    font-family: 'Open Sans' !important;
    font-weight: lighter;
    font-size: 16px !important;
    line-height: 34px !important;
    margin: 0px;
}

.show-name {
    font-family: "Playfair Display";
    font-weight: regular;
    font-size: 32px;
    line-height: 55px;
    margin: 0px;
}

.announcement-dates {
    font-family: "Playfair Display" !important;
    font-size: 28px !important;
    line-height: 18px !important;
    margin: 0px;
}

.show-description {
    font-family: 'Open Sans' !important;
    font-weight: lighter !important;
    font-size: 16px;
    line-height: 10px;
}

.announcement-btn {
    font-family: 'Open Sans' !important;
    font-weight: lighter !important;
    color: #c7a462 !important;
    font-size: 16px !important;
    padding: 0px !important;
    margin: 5px 0px 0px 0px;
}

.vault-btn {
    font-family: 'Open Sans' !important;
    font-weight: lighter !important;
    color: #c7a462 !important;
    font-size: 1.6vw !important; 
    padding: 0px !important;
}

.vault-btn:focus,
.vault-btn:hover {
    opacity: 0.4;
    text-decoration: none;
}

.announcement-btn-p {
    text-align: right !important;
    padding-top: 5px;
}

.buy-tickets-top {
    text-align: right !important;
    padding: 5px;
    color: #c7a462 !important;
    text-decoration: none;
    border-bottom: 1px solid rgba(199, 164, 98, 0.6);
}

.buy-tickets-top:hover {
    opacity: 0.4;
    text-decoration: none;
}

#announcent-clickable-section:hover {
    text-decoration: none !important;
    color: rgba(199, 164, 98, 0.5) !important;
}

#panel-article-translate-chekhov .panel-body {
    padding: 0px;
    margin-top: 0px;
    line-height: 30px;
}

.page-header {
    margin-top: 104px;
    margin-bottom: 34px;
}


/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 320px;
    height: 480px;
}


/* flip speed goes here */

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}


/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}


/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
}


/* Main carousel style */
/*.gallery-carousel {
    width: 600px;
}*/

/* Indicators list style */
.article-slide .gallery-carousel-indicators {
 /*   bottom: 0;
    left: 0;
    margin-left: 0px;*/
    width: 100%;
    position: relative;
    bottom: -1px !important;
    padding: 0;
    margin-left:0.5%;
    list-style: none;
    left:0 !important;
}

/*.article-slide .gallery-carousel-indicators {
  bottom:-80px;
}*/
/* Indicators list style */
.article-slide .gallery-carousel-indicators li {
    border: medium none;
    border-radius: 0;
    float: left;
    height: 54px;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 4px !important;
    margin-top: 0;
    width: 100px;
}
/* Indicators images style */
.article-slide .gallery-carousel-indicators img {
    border: 2px solid #FFFFFF;
    float: left;
    height: 54px;
    left: 0;
    width: 100px;
}
/* Indicators active image style */
.article-slide .gallery-carousel-indicators .active img {
    border: 2px solid #428BCA;
    opacity: 0.7;
}

.article-slide .gallery-carousel-indicators img {
    width: 81px;
}

.article-slide .gallery-carousel-indicators li {
    width: 81px;
}

.panel-reviews {
    height: 400px; 
    overflow-y: scroll;
}

.panel-link-to-article {
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left:55px;
    padding-right:55px;
}

.panel-link-to-article:focus,
.panel-link-to-article:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

.border-gold{
    border: 2px solid  rgba(199, 164, 98, 0.4);
    border-radius: 7px;
}

.panel-link-to-article-heading-style {
    color: #c7a462;
    font-size: 34px;
    font-family: 'Playfair Display';
    padding-bottom: 0px;
    margin: 0px;
    border: 0px;
    line-height: 42px;
}

.panel-link-to-article-text {
    margin-top:10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300 !important;
    color: black;
}

.btn-link-to-article:focus,
.btn-link-to-article:hover {
    opacity: 0.5;
    text-decoration: none !important;
}

.grey-background {
    background-color: #EDEDED;
}

.bio-link-column {
    padding-left:30px;
    padding-right:40px;
    margin-right: 100px;
    margin-top: 100px;
}

.thumb-column {
    padding-left:0px;
}

.reviews-section {
    background-color: #e6e6e6;
    height: 400px;
}

.panel-link-to-review-text {
    margin-top:10px;
    font-family: 'Plaifair';
    font-style: italic;
    color: black;
    background-color: #e6e6e6;
}

.reviews-panel {
    background-color: #e6e6e6;
    border: 2px solid  rgba(199, 164, 98, 0.4);
    border-radius: 7px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:35px;
    padding-right:20px;
}

.reviews-panel:focus,
.reviews-panel:hover {
    opacity: 0.4;
}

.review-panel-quote {
    color: #c7a462;
    padding: 0px;
    width: 2em;
}
.review-panel-text {
    padding:0 0 0 7px !important;
}

.review-panel-author {
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-weight: bold;
}

.check-mate-reviews-container {
    margin-left: 10%;
    height: 100%;
}

.creditors-reviews-container {
    margin-left: 0;
    height: 100%;
}

.review-column {
    padding-left:30px;
    padding-right:40px;
    margin-right: 100px;
    margin-top: 100px;
}

.creditors-review-column {
   margin-right: 0px !important; 
}

.hover-decoration{
    /*margin-top: 52px;*/
}

.hover-decoration:focus,
.hover-decoration:hover {
    opacity: 0.4 !important;
    text-decoration: none !important;
}

.dolls-house-img {
    width: 100%;
    margin: 0;
    opacity: 0.9;
}

.creditors-img {
    width: 100%;
    margin: 0;
}

@media (min-width: 768px) {
    .resp-line-break {
        display:none;
    }
}


/*About Us styles*/
.aboutus-container {
    padding-top:104px;
    line-height: 30px;
}

.coming-next-container{
    margin-top: 60px;
}
.coming-next-text-block{
    float: right;
    padding-right: 40px;
    text-align: right;
}

.director-img {
    height: 160px;
}

.bio-column {
    /*border: 1px dashed red;*/
    padding: 0 140px;
    margin-bottom: 52px;
}

/*.martin-bio{*/
    /*margin-right: 60px;*/
/*}*/

/*.polina-bio{*/
    /*margin-left: 60px;*/
/*}*/

/*MOBILE STYLES*/

/*iPad Pro*/
@media (max-width: 1310px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .insider-louisville-container .panel-body {
        padding: 0px;
        margin-top: 52px;
        line-height: 38px;
        font-size: 35px;
    }

    .marriages-on-the-verge-container {
        margin-left: 25%;
        margin-right: auto;
        max-width: 65%;
        max-height: 620px;
        line-height: 30px;
        font-size: 18px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        position: absolute;
        background-color: rgba(255,255,255, 0.85);
        z-index: 20;
        top: -77px;
        right: 52px;
        max-width: 38%;
        color: black;
        margin-top: 104px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .translate-chekhov-container {
        padding-top: 83px;
        padding-bottom: 30px;
        margin-left: 20%;
        margin-right: auto;
        max-width: 65%;
        max-height: 500px;
    }

    .translate-chekhov-container .page-header {
        margin-top: -125px;
        margin-bottom: 34px;
    }

    .translate-chekhov-container .panel-body {
        padding: 0px;
        margin-top: 52px;
        line-height: 44px;
        font-size: 30px;
    }

    .chekhov{
        position: absolute;
        left: -126px;
    }

    /*About Us Styles*/
    .aboutus-container{
        font-size: 35px;
        line-height: 56px;
    }

    .bio-column{
        padding: 0 43px;
    }

    .coart-dir {
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 0px;
        margin-left: -57px;
    }

    .coart-name {
        margin-bottom: 0px !important;
        margin-top: 0;
        font-size: 60px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: #c7a462;
    }

    .coart-pos {
        font-size: 34px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-style: italic;
        color: #c7a462;
        margin-top: 11px;
    }

    .bio-text-insert {
        font-family: 'Playfair Display';
        font-weight: bold;
        font-style: italic;
        font-size: 35px;
    }
}

/*iPad*/
@media (max-width: 768px){
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        width: 102%;
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: lighter;
        color: black;
    }

    .navbar-right {
        float: right !important;
        margin-right: -35px;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 18px !important;
    }

    #logo-img {
        height: 56px;
        width: auto;
        margin-top: 10px;
        margin-left: 10px;
    }

    .top-container .announce-well {
        position: absolute;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        text-align: left;
        bottom: -19px;
        right: -20px;
        padding: 50px;
        text-align: right;
    }

    .top-img {
        position: absolute;
        bottom: 1px;
        left: -47px;
    }

    .fill-background-black {
        background-color: black;
        border-bottom: 2px solid #c7a462;
        padding: 0 16px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        position: absolute;
        background-color: rgba(255,255,255, 0.85);
        z-index: 20;
        top: -49px;
        right: 52px;
        max-width: 60%;
        height: 238px;
        color: black;
        padding-left: 25px;
        padding-right: 25px;
    }

    .strindberg-in-bergman-heading {
        color: #c7a462;
        font-size: 34px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        margin-top: 4px;
        line-height: 35px;
    }

    .btn-bergman {
        border-radius: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: black;
        font-size: 22px;
        background: none;
        border: 2px solid #c7a462;
        font-family: 'Open Sans', sans-serif;
        padding: 11px 87px;
        float: right;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .translate-chekhov-container {
        padding-top: 120px;
        padding-bottom: 30px;
        margin-left: 20%;
        margin-right: auto;
        max-width: 65%;
        max-height: 500px;
    }

    .chekhov{
        position: absolute;
        top: -34px;
        right: -125px;
        width: 350px;
        height: 350px;
    }



    /*About Us styles*/
    .bio-column{
        padding: 0 43px;
    }

    .coart-dir {
        padding-top: 40px;
        padding-bottom: 20px;
        padding-left: 0px;
        margin-left: -6px;
    }
}

/*iPhone 6 Plus/ Nexus 5*/
@media (max-width: 414px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .top-container .announce-well {
        position: absolute;
        top: 1px;
        left: -27px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        text-align: left;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }

    .top-img {
        position: absolute;
        bottom: 32px;
    }

    #logo-img {
        height: 44px;
        width: auto;
        margin-top: 5px;
        margin-left: 5px;
    }

    .show-description {
        font-family: 'Open Sans' !important;
        font-weight: lighter !important;
        font-size: 14px;
        line-height: 10px;
    }

    #navbar-menus {
        padding-top: 0px;
        position: absolute;
        left: 227px;
        text-align: right;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 16px !important;
    }

    #top-nav-social {
        margin-top: 15px;
        font-size: 0.7em;
        position: absolute;
        left: -65px;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 16px 98px;
    }

    .btn-read-more {
        border-radius: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: black;
        font-size: 17px;
        background: none;
        border: 2px solid #c7a462;
        font-family: 'Open Sans', sans-serif;
        padding: 6px 40px;
        margin-right: 29px;
    }

    .insider-louisville-container .heading-style {
        color: #c7a462;
        font-size: 23px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 36px;
    }

    .marriages-on-the-verge-container .heading-style {
        color: #c7a462;
        font-size: 23px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 36px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


    .marriages-on-the-verge-img {
        margin-bottom: 52px;
        margin-left: -25px;
    }

    .insider-louisville-container .panel-body {
        padding: 0px;
        margin-top: 52px;
        line-height: 27px;
        font-size: 16px;
    }

    .ashlie-stevens-text{
        line-height: 27px;
        font-size: 16px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 327px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -237px;
        right: 42px;
        color: black;
    }
    .strindberg-in-bergman-heading {
        font-size: 23px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 36px;
        text-align: left;
        padding-bottom: 5px;
        color: #c7a462;
    }
    .strindberg-in-bergman-text {
        width: 312px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        margin-right: -122px;
    }

    .chekhov {
        position: absolute;
        top: -477px;
        left: 57px;
        opacity: .2;
        width: 350px;
        height: 99px;
    }


    .translate-chekhov-container {
        padding-top: 582px;
    }

    .translate-chekhov-container .page-header {
        margin-top: -347px;
        margin-bottom: 6px;
        font-size: 23px;
        line-height: 36px;
        /* margin-bottom: 34px; */
    }

    .translate-chekhov-container .panel-body {
        padding: 0px;
        margin-top: 0px;
        line-height: 23px;
        font-size: 16px;
    }

    #contact-info-footer {
        padding-top: 19px;
        color: #c7a462 !important;
        text-align: center;
    }

    .fill-footer {
        background-color: #4d4d4d;
        border-top: 2px solid #c7a462;
        font-size: 17px;
    }

    /*About Us Styles*/
    .show-description {
        font-family: 'Open Sans' !important;
        font-weight: lighter !important;
        font-size: 24px;
        line-height: 35px;
    }

    .announcement-read-more{
        font-size: 22px;
    }
    .aboutus-container {
        font-size: 22px;
        line-height: 39px;
    }

    .bio-column{
        padding: 0 23px;
    }

    .coart-dir {
        padding-bottom: 20px;
        padding-left: 75px;
    }

    .coart-name {
        margin-top: 0;
        margin-bottom: 0px !important;
        font-size: 27px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: #c7a462;
        line-height: 41px;
    }

    .coart-pos {
        font-size: 27px;
        line-height: 36px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-style: italic;
        color: #c7a462;
    }

    .bio-text-insert {
        font-family: 'Playfair Display';
        font-weight: bold;
        font-style: italic;
        font-size: 24px;
    }
}

/*iPhone6/ Galaxy S5*/
@media (max-width: 376px) {
    html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

    .top-container .announce-well {
        position: absolute;
        top: 1px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        text-align: left;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }

    .show-description {
        font-family: 'Open Sans' !important;
        font-weight: lighter !important;
        font-size: 14px;
        line-height: 10px;
    }

    #logo-img {
        height: 44px;
        width: auto;
        margin-top: 5px;
        margin-left: 5px;
    }

    .top-img {
        position: absolute;
        bottom: 63px;
    }

    #navbar-menus {
        padding-top: 0px;
        position: absolute;
        left: 184px;
        text-align: right;
    }

    .navbar-nav>li {
        padding-top: 10px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;
        font-size: 16px !important;
    }

    #top-nav-social {
        margin-top: 15px;
        font-size: 0.7em;
        position: absolute;
        left: -65px;
    }

    .navbar-default .navbar-toggle {
        border-color: #ddd;
        margin-right: 42px;
    }

    .btn-buy-tickets-top {
        width: 98%;
        margin-left: 25px;
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
    }



    .show-name {
        font-family: "Playfair Display";
        font-weight: regular;
        font-size: 26px;
        line-height: 55px;
        margin: 0px;
    }

    .hover-decoration{
        margin-top: -35px;
    }

    .heading-style {
        color: #c7a462;
        font-size: 19px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 29px;
    }

    body{
        font-size: 15px;
    }

    .ashlie-stevens-text .btn-read-more {
        border-radius: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: black;
        font-size: 17px;
        background: none;
        border: 2px solid #c7a462;
        font-family: 'Open Sans', sans-serif;
        padding: 6px 40px;
        margin-right: 8px;
        margin-top: 8px;
        margin-bottom: 25px;
    }

    #marriages-on-the-verge-img {
        max-height: 340px;
        margin-top: 9px;
        margin-left: -22px;
    }

    .hover-decoration {
        margin-top: 14px;
    }

    .eli-keel{
        margin: 0 0 10px;
        padding-right: 27px;
    }

    .eli-btn {
        border-radius: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: black;
        font-size: 17px;
        background: none;
        border: 2px solid #c7a462;
        font-family: 'Open Sans', sans-serif;
        padding: 6px 40px;
        margin-right: 29px;
        margin-top: 1px;
        margin-bottom: 2px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -239px;
        right: 18px;
        color: black;
    }
    .strindberg-in-bergman-heading {
        font-size: 23px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 36px;
        text-align: left;
        padding-bottom: 5px;
        color: #c7a462;
    }
    .strindberg-in-bergman-text {
        width: 312px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 93px;
        left: 153px;
    }

    .chekhov {
        position: absolute;
        top: -477px;
        left: 57px;
        opacity: .2;
        width: 350px;
        height: 99px;
    }


    .translate-chekhov-container {
        padding-top: 582px;
    }

    .translate-chekhov-container .page-header {
        margin-top: -347px;
        margin-bottom: 6px;
        font-size: 23px;
        line-height: 36px;
    }

    .translate-chekhov-container .panel-body {
        padding: 0px;
        margin-top: 0px;
        line-height: 23px;
        font-size: 16px;
    }

    #contact-info-footer {
        padding-top: 19px;
        color: #c7a462 !important;
        text-align: center;
    }

    .fill-footer {
        background-color: #4d4d4d;
        border-top: 2px solid #c7a462;
        font-size: 17px;
    }

    /*About Us styles*/
    .coming-next-container{
        margin-top: 90px;
    }
    .coming-next-text-block {
        float: none;
        text-align: center;
    }

    .btn-buy-tickets-top {
        width: 98%;
        margin-left: 25px;
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        margin: 0;
        margin-bottom: 25px;
    }

    .aboutus-container {
        font-size: 22px;
        line-height: 39px;
    }

    .bio-column{
        padding: 0 23px;
    }

    .coart-dir {
        padding-bottom: 20px;
        padding-left: 75px;
    }

    .coart-name {
        margin-top: 0;
        margin-bottom: 0px !important;
        font-size: 27px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        color: #c7a462;
        line-height: 41px;
    }

    .coart-pos {
        font-size: 27px;
        line-height: 36px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-style: italic;
        color: #c7a462;
    }

    .bio-text-insert {
        font-family: 'Playfair Display';
        font-weight: bold;
        font-style: italic;
        font-size: 24px;
    }
}

/*iPhone5*/
@media (max-width: 320px){
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: 18px;
        font-weight: lighter;
        color: black;
        width: 111%;
    }

    #image{
        margin-top:67px;
    }

    .top-container {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        background-color: black;
        height: 561px;
        position: relative;
    }

    .top-container .announce-well {
        position: absolute;
        top: -66px;
        left: -45px;
        background-color: transparent;
        border: 0px;
        color: #c7a462;
        z-index: 20;
        margin: 0px;
        text-align: left;
        bottom: 0px;
        right: 0px;
        padding: 50px;
        text-align: right;
    }

    .btn-buy-tickets-top {
        color: #c7a462 !important;
        border: 1px solid #c7a462 !important;
        border-radius: 0px;
        padding: 14px 65px;
    }

    .show-description {
        font-family: 'Open Sans' !important;
        font-weight: lighter !important;
        font-size: 14px;
        line-height: 24px;
    }

    #navbar-menus {
        padding-top: 0px;
        position: absolute;
        left: 125px;
        text-align: right;
    }

    #top-nav-social {
        margin-top: 15px;
        font-size: 0.7em;
        position: absolute;
        left: -51px;
    }

    .coming-next {
        font-family: 'Open Sans' !important;
        font-weight: lighter;
        font-size: 16px !important;
        line-height: 40px !important;
        margin-top: 55px;
    }

    .top-img {
        position: absolute;
        bottom: 0px;
    }

    .eli-keel {
        margin: 0 0 10px;
        padding-right: 0px;
    }

    .heading-style {
        color: #c7a462;
        font-size: 16px;
        font-family: "Playfair Display";
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        line-height: 29px;
    }

    #marriages-on-the-verge-img {
        max-height: 340px;
        /* max-width: 340px; */
        margin-top: 5px;
        margin-left: -19px;
    }

    .strindberg-in-bergman-container .strindberg-in-bergman-well {
        width: 345px;
        height: 195px;
        position: absolute;
        background-color: rgba(255,255,255, 0.8);
        z-index: 20;
        top: -277px;
        right: 0px;
        color: black;
    }

    .strindberg-in-bergman-text {
        width: 286px;
        font-size: 16px;
        line-height: 23px;
        font-family: 'Open Sans';
        font-weight: lighter;
        padding-bottom: 0px;
        margin: 0px;
        border: 0px;
        text-align: left;
        color: black;
    }

    .strindberg-in-bergman-container .btn-read-more {
        position: absolute;
        top: 98px;
        left: 129px;
    }

    .chekhov {
        position: absolute;
        top: -602px;
        left: 57px;
        width: 326px;
        height: 184px;
    }

    #contact-info-footer {
        padding-top: 17px;
        color: #c7a462 !important;
        text-align: center;
        font-size: 13px;
    }

    /*About Us Styles*/
    .coart-dir {
        margin-left: 9px;
        padding-bottom: 20px;
        padding-top: 0;
    }
}
